{% extends 'ORGBundle:Vendredi:index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Enregistrement d\'une prière de vendredi' %}



{% block body %}
  <h2>Enregistrement d'une prière de vendredi</h2>
  {{ include('ORGBundle:Vendredi:_vendredi-form.html.twig') }}
{% endblock %}


{% block javascripts %}
{% endblock %}
