{% extends 'ORGBundle:Vendredi:index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title %}
  Edition informations d'un office du vendredi
{% endblock %}


{% block body %}
  <h2>Edition d'un office</h2>
  {{ include('ORGBundle:Vendredi:_vendredi-form.html.twig', {button: 'Editer'}) }}
{% endblock %}


{% block javascripts %}
{% endblock %}
