{% extends 'ORGBundle:Disposition:index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Edition de salle' %}



{% block body %}
  <h2>Edition de la salle {{ salle.nom }}</h2>
  {{ include('ORGBundle:Disposition:_salle-form.html.twig') }}
{% endblock %}


{% block javascripts %}
{% endblock %}
