{% extends 'ORGBundle:Disposition:index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Ajout d\'une nouvelle salle' %}



{% block body %}
  <h2>Ajout d'un nouvelle salle</h2>
  {{ include('ORGBundle:Disposition:_salle-form.html.twig') }}
{% endblock %}


{% block javascripts %}
{% endblock %}
