<!DOCTYPE html>
<html>
    <body>
        <div style="color: maroon;">
            {{ "now"|date("d-m-Y") }}
        </div>
        {# <div class="en-tete">
            <table width="100%" align="center" border="0">
                <tr>
                <td align="" width="30%" class="en-tete-ar">
                    <center>
                    <p>جمهورية ساحل العاج</p>
                    <p>مركز الألوم الإسلامية</p>
                    <p>أبيجان - حي أنيام</p>
                    <p>هاتف : 21373048 - 20248312</p>
                    </center>
                </td>
                <td align="" width="" class="">
                    <center>
                    <img src="{{app.request.schemeAndHttpHost ~ asset('../web/images/logoISI.png')}}" alt="" width="40%">
                    </center>
                </td>
                <td align="" width="30%" class="en-tete-fr">
                    <center>
                    <p>REPUBLIQUE DE COTE D'IVOIRE</p>
                    <p>INSTITUT DES SCIENCES ISLAMIQUES</p>
                    <p>ABIDJAN - ANYAMA</p>
                    <p>Tél: 21373048 - 20248312</p>
                    </center>
                </td>
                </tr>
            </table>
        <div> #}
    </body>
</html>
