<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Impression{% endblock %}</title>
    {% block stylesheets %}

        <lin rel="stylesheet" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.min.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style>
    @font-face
        {
            font-family: "majalla";
            src: url("file:///C:/wamp64/www/markaz/web/polices/majalla.ttf");
        }

        @font-face
        {
            font-family: "Lato";
            src: url("file:///C:/wamp64/www/markaz/web/polices/Lato-Regular.ttf");
        }

        @font-face
        {
            font-family: "amiri";
            src: url("file:///C:/wamp64/www/markaz/web/polices/Amiri-Regular.ttf");
        }

        @font-face
        {
            font-family: "katibeth";
            src: url("file:///C:/wamp64/www/markaz/web/polices/Katibeh-Regular.ttf");
        }
        * {
            font-family: majalla, Lato;
        }

        body{
            font-family: Lato;
        }

        .titre-document{
            border: solid 2px;
            line-height: 0px;
            width: 70%;
            margin: auto;
            font-size: 2em;
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            font-weight: bold;
        }

		span{
			font-family: majalla, 'traditional arabic';
		}

        .id-fiche{
            font-size: 2.5em;
            direction: rtl;
        }

        .classe, .annee{
            font-family: majalla, 'traditional arabic';
            display: inline;

        }

        .matiere{
            font-family: majalla, 'traditional arabic';
            display: inline;
            margin-right: 700px;
        }

        .libelleClasse, .libelleMatiere{
            font-family: majalla, 'traditional arabic';
            font-weight: bold;
        }

        th{
            border-collapse: initial;
            border-spacing:none;
            background-color: rgb(190, 190, 180);
            height: 30px;
        }

        table{
            #border: 3px solid black;
            display: inline-table;
            border-spacing: 0px;
            table-layout: fixed;
        }

        td{
          overflow: hidden;
          white-space: nowrap;
        }

        .line-table{
            font-size: 1.6em;
            height: 55px;
        }

        .table-header{
            border: solid 2px black;
            font-weight: bold;
            font-size: 2.2em;
            height: 60px
        }

        .matricule-ar{
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            font-size: 0.8em;
            font-weight: bold;
        }

        .matricule{
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            font-size: 1.4em;
        }

        .nomAr{
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            font-size: 1.1em;
            font-weight: bold;
        }

        .nomEleveFr{
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            font-size: 1.5em
        }

        .nomEleveAr{
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            font-size: 1.4em
        }

        .sexe, .numero{
            font-family: "sakkal majalla", "majalla", "sakkal", "traditional arabic";
            font-size: 1.3em
        }

        .effectif{
            font-size: 2.5em;
            font-family: majalla;
        }
    </style>
</head>

<body style="font-family: Arial">
    <header>
        <center>
            <img src="{{app.request.schemeAndHttpHost ~ asset('../web/images/en-tete.png')}}" alt="">
            {# <img src="file:///C:/wamp64/www/markaz/web/images/en-tete.png" alt=""> #}
        </center>
    </header>
    {% block body %}
    {% endblock %}
</body>

</html>
