{% extends 'ORGBundle:Localite:index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Edition d\'une région' %}



{% block body %}
  <h2>Edition d'une région</h2>
  {{ include('ORGBundle:Localite:_region-form.html.twig', {button: 'Editer'}) }}
{% endblock %}


{% block javascripts %}
{% endblock %}
