{% extends 'ORGBundle:Default:index.html.twig'%}



{% block stylesheets %}
{% endblock %}


{% block title 'Ajout d\'une nouvelle ville' %}



{% block body %}
  <h2>Ajout d'une nouvelle ville</h2>
  {{ include('ORGBundle:Localite:_ville-form.html.twig') }}
{% endblock %}


{% block javascripts %}
{% endblock %}
