<div class="ui vertical menu">
    <div class="item">
        <div class="header">{{ 'Volume horaire'|trans }}</div>
        <div class="menu">
            <a class="item" href="{{ path('ens_nombre_heures_cours_enseignants', {'as': asec}) }}">{{ 'Nombre heures cours'|trans }}</a>
        </div>
    </div>
</div>