<div class="ui vertical menu">
  <div class="item">
    <div class="header">{{ 'Mosquées'|trans }}</div>
    <div class="menu">
      <a class="item" href="{{ path('home_convertis', {'as': asec}) }}">Liste</a>
      <a class="item" href="{{ path('converti.add', {'as': asec}) }}">Ajouter</a>
    </div>
  </div>
</div>
