{# Page de gestion des examens #}

{% extends "ISIBundle:Etude:index.html.twig" %}

{% block title %}
	Gestion des examens
{% endblock %}


{% block contextual_menu %}
  {{ include("ISIBundle:Examen:contextual-menu-notes-exam.html.twig") }}
{% endblock %}


{% block section %}
	<i class="settings icon"></i>{{ 'Notes d\'examen'|trans }} 
{% endblock %}


{% block body %}
	<h3>{{ 'Gestion des notes d\'examens'|trans }}</h3>
	{% if examen is empty %}
		<p>{{ 'Aucune examen n\'a encore été enregistré'|trans }}</p>
	{% endif %}
{% endblock %}
