{% extends "ISIBundle:Etude:index.html.twig" %}

{% block title %}
    Paramètres | Etude
{% endblock %}

{% block contextual_menu %}  
    {% include('ISIBundle:Etude:contextual-menu-parametres.html.twig') %}
{% endblock %}

{% block corps %}
    {% block head %}
        <div class="ui {{ dir2 }} aligned segment">
            <h1 class="ui header">
                <i class="settings icon"></i>{{ 'PARAMETRES'|trans }}
            </h1>
        </div> 
    {% endblock %}
    {% block content %}
    {% endblock %}
{% endblock %}