{% extends "ISIBundle:Internat:index.html.twig" %}

{% block title %}
    Ajouter un(e) interne
{% endblock %}

{% block body %}
    <div class="ui container">
        <h3>{{ 'Ajouter un(e) interne'|trans }}</h3>
        <div class="ui raised very padded text container segment">
          <center>
            <h3>{{ 'Entrez le matricule de l\'élève à interner'|trans }}</h3>
            <form action="" method="post">
              <input type="text" name="matricule" id="" placeholder="ISI-0555KG-17" style="font-size: 3em; text-align: center; border-radius: 5px" />
              <br /><br />
              <button class="ui blue button" type="submit" name="button">{{ 'Valider'|trans }}</button>
            </form>
          </center>
        </div>
    </div>
{% endblock %}
