{% extends 'ISIBundle:Disposition:index.html.twig'%}



{% block title %}
  Edition informations bâtiment {{ batiment.nom }}
{% endblock %}


{% block body %}
  <div class="ui right aligned segment">
    <h1 class="ui header">
      <i class="student icon"></i>{{ 'Disposition en salle de classe'|trans }}
    </h1>
  </div>
  <h2>Edition du bâtiment {{ batiment.nom }}</h2>
  <div>
    <form action="" method="post" class="ui form">
      <div class="two fields">
        <div class="field">
          <label for="nom">Nom du bâtiment</label>
          <input type="text" name="nom" id="nom" value="{{ batiment.nom }}">
        </div>
      </div>
      <button type="submit" class="ui default button">Valider</button>
    </form>
  </div>
{% endblock %}


{% block javascripts %}
{% endblock %}
