{% extends 'ISIBundle:Disposition:index.html.twig'%}



{% block title 'Edition de salle' %}



{% block body %}
  <h2>Edition de la salle {{ salle.nom }}</h2>
  {{ include('ISIBundle:Disposition:_salle-form.html.twig') }}
{% endblock %}


{% block javascripts %}
{% endblock %}
