{% extends 'ISIBundle:Disposition:index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Ajout d\'une nouvelle salle' %}



{% block body %}
  <div class="ui right aligned segment">
    <h1 class="ui header">
      <i class="student icon"></i>{{ 'Disposition en salle de classe'|trans }}
    </h1>
  </div>
  <h2>Ajout d'un nouvelle salle</h2>
  {{ include('ISIBundle:Disposition:_salle-form.html.twig') }}
{% endblock %}


{% block javascripts %}
{% endblock %}
