{% extends 'ORGBundle:Mosquee:index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Edition d\'une mosquée' %}


{% block body %}
  <h2>Edition d'une mosquée</h2>
  {{ include('ORGBundle:Mosquee:_mosquee-form.html.twig', {button: 'Editer'}) }}
{% endblock %}


{% block javascripts %}
{% endblock %}
