{% extends 'ORGBundle:Default:index.html.twig'%}



{% block stylesheets %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link href="{{ asset('css/select2.min.css') }}" rel="stylesheet" />
{% endblock %}



{% block title 'Ajout d\'une nouvelle mosquée' %}



{% block body %}
  <h2>Ajout d'une nouvelle mosquée</h2>
  {{ include('ORGBundle:Mosquee:_mosquee-form.html.twig') }}
{% endblock %}


{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script>
    $(document).ready(function() {
      $('.js-example-basic-single').select2();
    });
    </script>
{% endblock %}
