{% extends 'ORGBundle:Mosquee:index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Ajout d\'une nouvelle mosquée' %}



{% block body %}
  <h2>Ajout d'une nouvelle mosquée</h2>
  {{ include('ORGBundle:Mosquee:_mosquee-form.html.twig') }}
{% endblock %}


{% block javascripts %}
{% endblock %}
