{% extends 'ORGBundle:Default:index.html.twig'%}



{% block stylesheets %}
{% endblock %}


{% block title 'Ajout d\'un nouvel converti' %}



{% block body %}
  <h2>Ajout d'un nouveau converti</h2>
  {{ include('ORGBundle:Converti:_converti-form.html.twig') }}
{% endblock %}


{% block javascripts %}
{% endblock %}
