{% extends 'ORGBundle:Converti:index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title %}
  Edition informations converti {{ converti.nom }} {{ converti.pnom }}
{% endblock %}


{% block body %}
  <h2>Edition d'un converti</h2>
  <a href="javascript:history.back()" class="ui small teal button">Retour à la page précédente</a>
  {{ include('ORGBundle:Converti:_converti-form.html.twig', {button: 'Editer'}) }}
{% endblock %}


{% block javascripts %}
{% endblock %}
