{% extends 'ORGBundle:Mosquee:index.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Ajout d\'un nouvel imam' %}



{% block body %}
  <h2>Ajout d'un nouvel imam</h2>
  {{ include('ORGBundle:Imam:_imam-form.html.twig') }}
{% endblock %}


{% block javascripts %}
{% endblock %}
