<div class="ui vertical menu">
    <div class="item">
        <div class="header">Activités précédentes</div>
        <div class="menu">
            <a class="item" href="{{ path('admin_home', {'as': annee.anneeScolaireId}) }}">Années précédentes</a>
        </div>
    </div>
</div>