{# ISIBundle/Ressources/views/Scolarite #}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Impression des bulletins | {{classe.libelleFr}} </title>
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <style>
        {% if server == '/var/www/html' %}
            @font-face{
                font-family: "majalla";
                src: url("file:///var/www/html/markaz/web/polices/majalla.ttf");
            }

            @font-face{
                font-family: "Lato";
                src: url("file:///var/www/html/markaz/web/polices/Lato-Regular.ttf");
            }
        {% else %}
            @font-face{
                font-family: "majalla";
                src: url("file:///home/youstra/www/markaz/web/polices/majalla.ttf");
            }

            @font-face{
                font-family: "Lato";
                src: url("file:///home/youstra/www/markaz/web/polices/Lato-Regular.ttf");
            }
        {% endif %}

        * {
            font-family: majalla, Lato;
        }

        h2{
            background-color: #C0C0C0;
            font-size: 3em;
            box-shadow: 5px;
            font-family: "traditional arabic";
            line-height: 80px;
            width: 90%;
            margin: auto;
            border: 1px solid black;
            border-radius: 5px;
        }

        body {
            font-family: Lato;
            direction: rtl;
        }

        .en-tete-fr, .en-tete-ar{
          line-height: 5px;
          font-weight: bold;
          font-size: 1.7em;
        }

        .en-tete-ar{
          font-size: 1.8em;
        }

        .bulletin{
            width: 1350px;
            height: 1950px;
        }

        table{
            width: 90%;
            align: center;
        }

        .matricule-eleve{
            border: 1px solid black;
            line-height: 60px;
            font-size: 3em;
            background-color: rgb(DC, DC, DC);
            box-shadow: 5px;
        }

        .matricule{
            color: red;
            font-weight: bold;
        }

        .identification-eleve{
            width: 75%;
        }
        .infos-identification-eleve{
            line-height: 45px;
            font-size: 2em;
        }

        .titre-info-eleve, .info-eleve-db{
            width: 50%;
        }

        .bureau-examen{
            height: 75px;
        }

        .les-notes{
            width: 95%;
            align: center;
            margin-bottom: 10px;
        }

        .les-notes tr{
            border: solid 1px black;
        }

        .les-notes th{
            border: solid 1px black;
            font-family: majalla, 'traditional arabic';
            font-weight: bold;
            font-size: 2.4em;
            background-color: #C0C0C0;
            line-height: 60px;
        }

        .les-notes td{
            border: 1px solid black;
            font-family: majalla, 'traditional arabic';
            font-size: 2em;
            line-height: 40px;
        }

        .libelle-matiere{
            font-size: 2.6em;
        }

        .valeur-note{
            font-size: 2em;
        }

        .la-moyenne{
            width: 95%;
            height: 80px;
            font-size: 2em;
            border: 1px solid black;
            margin-top: -2px;
            margin-bottom: 10px;
            text-align: center;
        }

        .titre-info-moyenne{
            font-size: 1.1em;
        }

        .info-moyenne{
            vertical-align: middle;
            font-weight: bold;
            background-color: rgb(190, 190, 190);;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .decision td{
            border: 1px solid black;
            margin: 15px;
        }

        .decision {
            margin-top: 15px;
        }

        .decisions-conseil{
            overflow: auto;
        }

        #distinction tr, #sanction tr{
            border: 1px solid white;
        }

        #distinction th, #sanction th{
            font-size: 2em;
        }


        .signature-directeur{
            width: 300px;
        }

        .titre-bloc{
            text-align: center;
            vertical-align: middle;
            font-family: katibeth;
            font-size: 1.7em;
        }

        .case{
            border: 1px solid black;
            margin-right: 0px;
            font-size: 0px;
            line-height: 0px;
            padding: 15px;
            width: 5px;
            height: 5px;
        }

        .test{
            width: 350px;
            margin-bottom: 5px;
        }

        .petit{
            display: inline-block;
            float: left;
            width: 10%;
        }

        .grand{
            margin-left: 15%;
            margin-right: 10px;
            display: inline-block;
            line-height: 35px;
            font-size: 1.5em;
            font-style: italic;
        }

        .date-proclamation{
            font-size: 2em;
            font-style: italic;
        }

        .table-footer{
            width: 95%;
            background-image: url("{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('../web/images/cachet-exam_1.png') }}"); 
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 75% 75%;
        }
    </style>
</head>
<body style="font-family: Arial">
    {% set session = "" %}
    {% if examen.getSession == 1 %}
        {% set session = "الاختبار الأول" %}
    {% else %}
        {% set session = "الاختبار الثاني" %}
    {% endif %}
    {% set totalNote = 0 %}
    {% block body %}    
    {% endblock %}  
</body>

</html>
